@import url(./style.css);



@media(max-width: 1441px) {

    /* Index.html */

    .main-title {
        font-size: 125px;
    }

    .main-subtitle-title {
        font-size: 57px;
        margin-left: 311px;
    }

    .header-btn {
        font-size: 18px;
        padding: 20px 15px;
    }

    .main-text-p {
        max-width: 545px;
    }

    .main-text {
        padding-top: 240px;
    }

    /* Index.html */


    /* Contacts */

    .contacts-name {
        font-size: 130px;
    }

    .non-main {
        height: 672px;
    }

    /* Contacts */


    /*  Mission */



    /*  Mission */

}



@media(max-width: 1025px) {

    .logo {
        width: 186px;
        height: 33px;
    }

    .nav-list {
        column-gap: 50px;
    }

    .nav-link {
        font-size: 16px;
    }

    .nav-link__dropped {
        font-size: 14px;
    }

    .about::after {
        display: none !important;
    }

    .about::before {
        display: block !important;
        right: -17px;
    }

    .nav-link__drop-cont hr {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .up-dropped {
        margin-top: 8px;
    }

    .down-dropped {
        margin-bottom: 8px;
    }

    .down-is-active {
        display: none;
    }

    .main-title {
        font-size: 110px;
        line-height: 80px;
    }

    .main-subtitle-title {
        font-size: 48px;
        margin-left: 280px;
    }

    .main-text-p {
        margin-top: 7px;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 21px;
    }

    .video {
        height: 800px;
    }


    .team-cards {
        display: flex;
        align-items: center;
        justify-content: center;

        column-gap: 70px;
    }

    .team-card-img-high {
        width: 70%;
    }

    .team-card-img-leader {
        width: 60%;
    }

    .team-card-name {
        font-size: 17px;
    }

    .team-card-bottom {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .leader-name {
        font-size: 28px;
    }

    .leader-descr {
        font-size: 23px;
    }

    .team-card-leader {
        margin-bottom: 80px;
    }

    .team-card-bottom-leader {
        padding-left: 85px;
        padding-right: 85px;
        padding-top: 20px;
        padding-bottom: 22px;

    }

    .team-card-descr {
        font-size: 13px;
    }

    /* .center-card {
        margin-top: 30px;
    } */

}



@media(max-width: 850px) {
    .nav {
        display: none;
    }

    .nav-mobile-ico {
        display: block;
    }
}